* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
.bg {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/a3.jpg);
	background-size: cover;
	background-position: center;
  }
  
  nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
  }
  
  nav img {
	width: 150px;
  }
  
  .nav-links {
	flex: 1;
	text-align: right;
  }
  
  .nav-links ul {
	list-style: none;
  }
  
  .nav-links ul li {
	display: inline-block;
	padding: 8px 12px;
	position: relative;
  }
  
  .nav-links ul li a {
	color: white;
	text-decoration: none;
	font-size: 19px;
  }
  
  .nav-links ul li::after {
	content: '';
	width: 0;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: width 0.5s;
  }
  
  .nav-links ul li:hover::after {
	width: 100%;
  }

.root {
	padding: 2vw;
	width: 100%;
	color: white;
	font-family: poppins;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: justify;
}

.heading {
	font-size: 3rem;
}

.sub-heading {
	margin: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
}

.location-container {
	margin: 40px 0;
}

.loc-input {
	border: 3px solid #269fe6;
	font-size: 1rem;
	padding: 8px;
	border-radius: 6px;
	margin: 10px;
	width: 270px;
	text-align: center;
}

.loc-input:invalid {
	border: 3px solid #d34545;
}

.search-btn {
	padding: 10px 14px;
	background-color: #269fe6;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 4px;
	color: #fff;
	margin: 10px;
	cursor: pointer;
}

.air-quality, .arr, .air-quality-status {
	font-size: 4rem;
	font-weight: 700;
}

.component-names {
	display: inline-block;
}

.component-container div {
	margin: 10px 0;
}

.component-val {
	font-size: 1.2rem;
	margin-left: 20px;
}

.aqi12{
	text-decoration: none;
}